@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome on a Sample DotNET APP</h1>
    <h1 class="display-4">I DID IT............</h1>

    <p>THE TIME ON SERVER is @DateTime.Now</p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
